tensorflow==2.14.0  # TensorFlow version for training
opencv-python==4.11.0.86  # OpenCV for image processing
numpy==1.23.5  # For array manipulation
matplotlib==3.10.3  # For plotting
pandas==1.4.2  # For data manipulation
scikit-learn==1.0.2  # For model evaluation (optional)
tqdm==4.67.1  # For progress bars
argparse  # Command-line parsing (if required)
lmdb==1.4.1
caffe-cpu==1.0.0
protobuf==3.20.3
